@font-face {
    font-family: "EB Garamond Regular";
    src: local("EBGaramond-Regular"),
         local("EB Garamond Regular"),
         url("ebgaramondregular.woff2") format("woff2"),
         url("ebgaramondregular.woff") format("woff"),
         url("ebgaramondregular.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}   

@font-face {
    font-family: "EB Garamond Medium";
    src: local("EBGaramond-Medium"),
         local("EB Garamond Medium"),
         url("ebgaramondmedium.woff2") format("woff2"),
         url("ebgaramondmedium.woff") format("woff"),
         url("ebgaramondmedium.ttf") format("truetype");
    font-weight: medium;
    font-display: swap;
}

@font-face {
    font-family: "Inter Regular";
    src: local("Inter-Regular"),
         local("Inter Regular"),
         url("interregular.woff2") format("woff2"),
         url("interregular.woff") format("woff"),
         url("interregular.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter Bold";
    src: local("Inter-Bold"),
         local("Inter Bold"),
         url("interbold.woff2") format("woff2"),
         url("interbold.woff") format("woff"),
         url("interbold.ttf") format("truetype");
    font-weight: bold;
    font-display: swap;
} 


